@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.invisible-layer {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 124, 0.4);
  z-index: 10;
  position: absolute;
}

.invisible-layer2 {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 124, 0.4);
  z-index: 10;
  position: absolute;
}

body {
  font-family: "Ubuntu", "Overpass";
  font-weight: 900;
  background-color: white;
  margin: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-size: 16px;
}

.sign-up-button {
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  background-color: white;
  color: #ff525d;
}
.sign-up-button:hover {
  background-color: #ff7a85;
  color: white;
}

.login-button {
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  background-color: #ff8f70;
  color: white;
}

.sign-up-button-mobile {
  border-radius: 30px;
  padding: 15px 40px 15px 40px;
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  font-size: 24px;
  color: white;
}

.login-button-mobile {
  border-radius: 30px;
  padding: 15px 40px 15px 40px;
  font-size: 24px;
  color: #25252d;
}

@media (min-width: 772px) {
  .top-button-start {
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    background-color: white;
    color: #ff525d;
  }
  .top-button-start:hover {
    background-color: #ff7a85;
    color: white;
  }

  .top-button-learn {
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    background-color: #ff525d;
    color: white;
    border: solid 1px white;
  }
  .top-button-learn:hover {
    color: #ff525d;
    background-color: white;
  }
}
@media (max-width: 772px) {
  .top-button-start {
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    background-color: white;
    color: #ff525d;
  }
  .top-button-start:hover {
    background-color: #ff7a85;
    color: white;
  }

  .top-button-learn {
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    background-color: #ff525d;
    color: white;
    border: solid 1px white;
  }
  .top-button-learn:hover {
    color: #ff525d;
    background-color: white;
  }
}
.mobile-nav-button__close {
  position: relative;
  z-index: 20;
}

.select-button-desktop {
  font-weight: normal;
  color: white;
}
.select-button-desktop:hover {
  text-decoration: underline;
}

.select-button-mobile {
  font-size: 24px;
  color: #25252d;
}

header {
  background: url("../img/bg-pattern-intro.svg"), linear-gradient(to right, #ff8f70, #ff3d54);
  padding: 0px 30px 200px 30px;
  background-position: top -1600px left 20%, top;
  background-size: 200%, 100%;
  display: grid;
  border-bottom-left-radius: 50px;
}

.head-content {
  color: white;
}

@media (min-width: 772px) {
  header {
    display: grid;
    border-bottom-left-radius: 50px;
  }
  header > nav {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  header > nav > img.title-page {
    grid-column: 1;
    margin: 10px auto 0px auto;
  }
  header > nav > div.desktop-header {
    grid-column: span 4;
  }

  .mobile, .mobile-nav-button {
    display: none;
  }

  .desktop-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .desktop-header > .nav-header {
    display: flex;
  }
  .desktop-header > .login {
    margin-right: 50px;
  }
  .desktop-header > .login > .login-button {
    margin-right: 5px;
  }

  .nav-header-product, .nav-header-company, .nav-header-contact {
    margin-right: 30px;
  }
  .nav-header-product > ol, .nav-header-company > ol, .nav-header-contact > ol {
    position: absolute;
    z-index: 20;
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
  }
  .nav-header-product > ol > li, .nav-header-company > ol > li, .nav-header-contact > ol > li {
    padding: 5px 10px 5px 10px;
  }
  .nav-header-product > ol > li > a, .nav-header-company > ol > li > a, .nav-header-contact > ol > li > a {
    color: #1f3f5b;
  }

  .head-content {
    display: grid;
    text-align: center;
    margin-top: 40px;
  }
  .head-content > h2 {
    margin-bottom: 0px;
    font-size: 48px;
  }
  .head-content > p {
    font-size: 16px;
  }

  .header-buttons {
    text-align: center;
    margin-top: 40px;
  }
  .header-buttons > a {
    margin: 5px;
  }
}
@media (max-width: 1224px) {
  .desktop-header > .login {
    margin-right: 30px;
  }
}
@media (max-width: 772px) {
  header {
    padding-bottom: 100px;
  }

  .desktop-header {
    display: none;
  }

  img.title-page {
    margin-top: 28px;
  }

  .mobile-list-product, .mobile-list-company, .mobile-list-contact {
    display: none;
    background-color: #ededed;
    border-radius: 5px;
    margin: 20px 10% 10px 10%;
    padding-left: 0px;
  }
  .mobile-list-product > li, .mobile-list-company > li, .mobile-list-contact > li {
    padding: 15px 0px 15px 0px;
  }
  .mobile-list-product > li > a, .mobile-list-company > li > a, .mobile-list-contact > li > a {
    color: #4b5862;
  }

  .mobile {
    display: none;
    position: absolute;
    z-index: 20;
    background-color: white;
    border-radius: 5px;
    width: 85%;
    top: 120px;
    height: auto;
  }
  .mobile__hr {
    margin: 0px 10% 0px 10%;
    color: white;
  }
  .mobile > .login {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .mobile > .login > a {
    text-align: center;
    width: 100px;
    margin: 0px auto 15px;
  }
  .mobile > .nav {
    text-align: center;
  }
  .mobile > .nav > div {
    margin: 20px 10px 30px 10px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 40px;
  }

  .mobile-nav-button {
    display: block;
  }
  .mobile-nav-button > img {
    margin-top: 40px;
  }
  .mobile-nav-button > .mobile-nav-button__close {
    display: none;
  }

  .head-content {
    text-align: center;
  }
  .head-content > h2 {
    font-size: 32px;
  }

  .header-buttons {
    margin: 50px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
  }
  .header-buttons > a {
    margin: 10px;
  }
}
.mobile-content {
  background: url("../img/bg-pattern-circles.svg"), linear-gradient(to right, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

@media (min-width: 772px) {
  .img-mobile__phone {
    display: none;
  }

  .mobile-content {
    background-position: top -500px left -300px, top;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(3, 1fr);
  }

  .mobile-content-img {
    margin-top: -70px;
    grid-row: 1/3;
    grid-column: 1;
  }

  .mobile-content-text {
    grid-row: 1/3;
    grid-column: 2/4;
    text-align: left;
    margin: auto 0px auto 20px;
    color: white;
    line-height: 1.8em;
    font-weight: normal;
    width: 80%;
  }
  .mobile-content-text > h3 {
    font-size: 32px;
  }
}
@media (max-width: 1000px) and (min-width: 772px) {
  .mobile-content-text__p {
    font-size: 14px;
    line-height: 1.6em;
  }
}
@media (max-width: 772px) {
  .img-mobile__desktop {
    display: none;
  }

  .mobile-content {
    margin-top: 150px;
    background-size: 500px, auto;
    background-position: top -200px left -20px, top;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 100px;
  }

  div.mobile-content-image {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .img-mobile__phone {
    position: relative;
    top: -120px;
    left: 80px;
  }

  .mobile-content-text {
    margin: 0px auto 0px auto;
    grid-column: 1;
    grid-row: 2/4;
    color: white;
    text-align: center;
    line-height: 1.8em;
    width: 80%;
    font-size: 16px;
    font-weight: normal;
  }
  .mobile-content-text > h3 {
    font-size: 32px;
  }
}
@media (min-width: 772px) {
  .intro-img__mobile {
    display: none;
  }

  .intro {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 15% 30% 30% 15%;
    color: #1f3f5b;
    padding: 100px 0px 0px 0px;
    height: 980px;
  }
  .intro > h3 {
    grid-row: 1;
    grid-column: 1/9;
    margin-bottom: 100px;
    text-align: center;
    font-size: 32px;
    z-index: 5;
  }

  .intro-content {
    grid-row: 2/4;
    grid-column: 1/5;
    height: 100%;
    margin-left: 100px;
  }
  .intro-content__part1 > h4, .intro-content__part2 > h4 {
    font-size: 24px;
  }
  .intro-content__part1 > p, .intro-content__part2 > p {
    color: gray;
    line-height: 1.8em;
  }

  .intro-img {
    grid-row: 1/5;
    grid-column: 5/9;
    overflow: hidden;
  }
  .intro-img__desktop {
    margin-left: 10%;
    position: relative;
    top: 0;
  }
}
@media (max-width: 772px) {
  .intro-img__desktop {
    display: none;
  }

  .intro {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #1f3f5b;
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    text-align: center;
  }

  .title-top-content {
    order: 1;
    width: 100%;
  }

  .intro-content {
    order: 3;
  }
  .intro-content__part1 > p, .intro-content__part2 > p {
    margin: 0px 100px 0px 100px;
    font-size: 16px;
    color: gray;
    line-height: 1.8em;
  }
  .intro-content__part1 > h4, .intro-content__part2 > h4 {
    margin-bottom: 20px;
  }

  .intro-img {
    order: 2;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .intro-content__part1 > p, .intro-content__part2 > p {
    margin: 0px 20px 0px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
