@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body{
  font-family: 'Ubuntu', "Overpass";
  font-weight: 900;
  background-color: deepskyblue;
  margin: 0px;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}