 $mobile: 375px;
  $desktop: 1440px;

  $light-red: hsl(356, 100%, 66%);
  $very-light-red: hsl(355, 100%, 74%);
  $very-dark-blue: hsl(208, 49%, 24%);
  $white: hsl(0, 0%, 100%);
  $grayish-blue: hsl(240, 2%, 79%);
  $very-dark-grayish-blue: hsl(207, 13%, 34%);
  $very-dark-black-blue: hsl(240, 10%, 16%);

  $backgound-very-light-red: hsl(13, 100%, 72%);
  $background-light-red:  hsl(353, 100%, 62%);

  $background-very-dark-gray-blue: hsl(237, 17%, 21%);
  $background-very-dark-desaturated-blue: hsl(237, 23%, 32%);

 body {
   font-size: 16px;
 }