//REGLES GENERALES
header {
  background: url("../img/bg-pattern-intro.svg"), linear-gradient(to right, $backgound-very-light-red, $background-light-red);
  padding: 0px 30px 200px 30px;
  background-position: top -1600px left 20%, top;
  background-size: 200%, 100%;
  display: grid;
  border-bottom-left-radius: 50px;
}

.head-content{
  color: $white;
}
//FIN REGLES GENERALES


//DESKTOP
@media (min-width: $mobile) {

  header {
    display: grid;
    border-bottom-left-radius: 50px;

    & > nav {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      & > img.title-page {
        grid-column: 1;
        margin: 10px auto 0px auto;
      }

      & > div.desktop-header {
        grid-column: span 4;
      }
    }
  }

  .mobile, .mobile-nav-button{
    display: none !important;
  }

  .desktop-header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    & > .nav-header{
      display: flex;
    }
    & > .login{
      margin-right: 50px;
      & > .login-button {
        margin-right: 5px;
      }
    }
  }

  .nav-header-product, .nav-header-company, .nav-header-contact{
     margin-right: 30px;
     & > ol{
       position: absolute;
       z-index: 20;
       display: none;
       background-color: $white;
       border-radius: 5px;
       padding: 20px;
       & > li{
         padding: 5px 10px 5px 10px;
         & > a {
           color: $very-dark-blue;
         }
       }
     }
   }


  .head-content{
    display: grid;
    text-align: center;
    margin-top: 40px;
    & > h2{
      margin-bottom: 0px;
      font-size: 48px;
    }
    & > p{
      font-size: 16px;
    }
  }

  .header-buttons{
    text-align: center;
    margin-top: 40px;
    & > a{
      margin: 5px;
    }
  }


}
//FIN DESKTOP


//(Transition) -> DESKTOP - MOBILE
@media (max-width: 1224px) {

  .desktop-header{
    & > .login{
      margin-right: 30px;
    }
  }


}
//FIN (Transition)


//MOBILE
@media (max-width: $mobile){

  header{
    padding-bottom: 100px;
  }

  .desktop-header{
    display: none;
  }

  img.title-page{
    margin-top: 28px;
  }

  .mobile-list-product, .mobile-list-company, .mobile-list-contact{
    display: none;
    background-color: lighten(lightgray, 10);
    border-radius: 5px;
    margin: 20px 10% 10px 10%;
    padding-left: 0px;
    & > li {
      padding: 15px 0px 15px 0px;
      & > a{
        color: $very-dark-grayish-blue;
      }

    }
  }

  .mobile{
    display: none;
    position: absolute;
    z-index: 20;
    background-color: $white;
    border-radius: 5px;
    width: 85%;
    top: 120px;
    height: auto;
    &__hr{
      margin: 0px 10% 0px 10%;
      color: lighten(lightgray, 100);
    }
    & > .login{
      margin: 20px;
      display: flex;
      flex-wrap: wrap;
      & > a{
        text-align: center;
        width: 100px;
        margin: 0px auto 15px;
      }
    }
    & > .nav {
      text-align: center;
      > div{
        margin: 20px 10px 30px 10px;
      }
    }
  }

  nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 40px;
  }

  .mobile-nav-button{
    display: block;
    & > img{
      margin-top: 40px;
    }
    & > .mobile-nav-button__close{
      display: none;
    }
  }

  .head-content{
    text-align: center;
    & > h2{
      font-size: 32px;
    }
  }

  .header-buttons{
    margin: 50px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    & > a{
      margin: 10px;
    }
  }


}
//FIN MOBILE

