.laptop-content{
  color: $very-dark-blue;
}

@media (min-width: $mobile){
  .laptop-content__img-mobile{
    display: none;
  }

  .laptop-content {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);

    &__text{
      grid-column: 4 / 7;
      margin: auto 50px auto 5%;
      @media (max-width: 1700px) {
        margin-left: 15%;
      }
      &__part1, &__part2{
        & > h4{
          font-size: 32px;
        }
        & > p {
          color: gray;
          line-height: 1.8em;
        }
      }
    }

    &__img{
      grid-column: 1 / 4;
      margin-left: -5%;
      @media (max-width: 1500px) {
        margin-left: -20%;
      }
      @media (max-width: 900px) {
        margin-left: -25%;
      }
      &-desktop {
        overflow: hidden;
        @media (max-width: 1400px) {
          margin-left: -15%;
        }
        @media (max-width: 1200px) {
          margin-left: -25%;
        }
        @media (max-width: 1000px) {
          margin-left: -35%;
        }
        @media (max-width: 700px) {
          margin-left: -45%;
        }
      }
    }
  }
}


@media (max-width: $mobile) {
  .laptop-content__img-desktop{
    display: none;
  }

  .laptop-content{
    display: flex;
    flex-wrap: wrap;
  }

  .laptop-content__text{
    margin: 50px;
    color: $very-dark-blue;
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    text-align: center;
    &__part1, &__part2{
      & > p {
        font-size: 16px;
        color: gray;
        line-height: 1.8em;
      }
    }
  }

  .laptop-content__img{
    margin: 30px auto 0px auto;
  }
}